.adPictureDetailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
  border-radius: 12px;
  border: 1px solid #e1eefd;
  overflow: hidden;
  width: 100%;

  transition: box-shadow 0.2s ease-in-out, transform 0.33s ease-in-out;

  .adPicture {
    align-self: stretch;
    aspect-ratio: 16/12;

    background-color: lightgray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;
    width: 100%;
  }
  .adTextWrapper {
    display: flex;
    padding: 14px 16px 22px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    line-height: 100%;
    font-family: Pretendard;
    box-sizing: border-box;

    .adText1 {
      color: #1f84ee;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 24px */
    }
    .adText2 {
      color: #4d4d4f;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 19.2px */

      text-align: left;
    }
  }
}

@media (max-width: 600px) {
  .adPictureDetailWrapper {
    .adPicture {
      object-fit: cover;
    }
    .adTextWrapper {
      border-radius: 4px;
      gap: 4px;
      padding: 12px 14px 18px;
      .adText1 {
        font-size: 16px;
      }
      .adText2 {
        font-size: 14px;
      }
    }
  }
}
