.wrapper {
  display: flex;
  padding: 20px 22px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 1;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #dcdcdc;
  background: #fff;
  width: 100%;

  .imageWrapper {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    width: 100%;

    .leftImage {
      aspect-ratio: 16 / 11;
      flex: 1 1;
      border-radius: 12px;
      background: url("../image/16054745c9456b1175aa0ccd6c14397e576c6b66.jpg")
        lightgray 50% / cover no-repeat;
      max-width: calc(50% - 7px);
      object-fit: cover;
    }

    .rightImage {
      aspect-ratio: 16 / 11;
      flex: 1 1;
      border-radius: 12px;
      background: url("../image/16054745c9456b1175aa0ccd6c14397e576c6b66.jpg")
        lightgray 50% / cover no-repeat;
      max-width: calc(50% - 7px);
      object-fit: cover;
    }
  }

  .titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    .title {
      color: #1f84ee;
      font-family: Pretendard;
      font-size: 20px;
      font-weight: 800;
    }

    .canReserve {
      display: inline-block;
      padding-top: 4px;
      padding: 2px 12px 4px;
      text-align: center;
      white-space: nowrap;
      border-radius: 4px;
      background: #b7b7b7;

      color: #fff;
      font-family: Pretendard;
      font-size: 12px;
      font-weight: 700;
      line-height: 150%; /* 12px */
    }
  }
  .contentWrapper {
    display: flex;
    padding-top: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    box-sizing: border-box;
    border-top: 1px solid #dcdcdc;
    width: 100%;
  }

  .reserveWrapper {
    display: flex;
    padding: 20px 18px;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    border-radius: 12px;
    background: #f9fcff;
    width: 100%;

    .reserveLeftWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6px;

      .reserveText1 {
        color: #1f84ee;
        font-family: Pretendard;
        font-size: 18px;
        font-weight: 800;
      }
      .reserveText2 {
        color: #999;
        font-family: Pretendard;
        font-size: 14px;
        text-align: start;
      }
    }
    .reserveRightWrapper {
      display: flex;
      align-items: stretch;
      gap: 12px;

      .reserveButton {
        min-width: 142px;
        height: auto;
        background: #b7b7b7;
        color: #fff;
        display: flex;
        padding: var(--25, 10px) var(--5, 20px);
        justify-content: center;
        align-items: center;
        gap: var(--2, 8px);
        cursor: pointer;
        border-radius: 6px;
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 800;
        line-height: 150%; /* 21px */
        border: none;
      }
    }
  }
}
