:global {
  .react-calendar {
    background: #fff;
    flex: 1 1;
    font-family: Pretendard;
    width: 100%;
    border: none;
  }

  .react-calendar__navigation__label {
    color: #0085ff;
    font-size: 18px;
    font-weight: 700;
  }
  .react-calendar__tile {
    background: none;
    font: inherit;
    font-size: 0.833em;
    max-width: 100%;
    padding: 10px 6.6667px;
    text-align: center;
  }
  .react-calendar__month-view__weekdays {
    font: inherit;
    font-size: 0.75em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  .react-calendar__month-view__weekdays__weekday {
    align-items: center;
    aspect-ratio: 1 / 1;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0.5em;

    abbr {
      font-family: Pretendard;
      font-size: 16px;
      text-decoration: none;
    }

    &:nth-child(6) abbr {
      color: #d10000;
    }

    &:last-child abbr {
      color: #d10000;
    }
  }
  .react-calendar {
    button {
      aspect-ratio: 1;
      border: 0;
      margin: 0;
      outline: none;

      abbr {
        font-family: Pretendard;
        font-size: 16px;
      }
    }
  }
  .react-calendar__navigation__prev2-button,
  .react-calendar__navigation__next2-button {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #f0f0f0 !important;
    color: #1010104d;
  }
}
