.wrapper {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  //padding-bottom: 102px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  background: #fcfeff;
  //gap: 60px;
  box-sizing: border-box;

  .menuWrapper {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background: #fff;

    width: 100%;

    justify-content: center;
    gap: 102px;

    box-sizing: border-box;

    flex-direction: row;

    .menu {
      color: #505050;
      leading-trim: both;
      text-edge: cap;
      font-feature-settings: "liga" off, "clig" off;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;

      .menuText {
        color: #505050;
        leading-trim: both;
        text-edge: cap;
        font-feature-settings: "liga" off, "clig" off;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;

        align-self: stretch;
      }
    }

    .menu2 {
      color: #505050;
      leading-trim: both;
      text-edge: cap;
      font-feature-settings: "liga" off, "clig" off;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;
    padding: 74px 0;

    .logoWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      .logoImage {
        width: 100%;
        max-width: 44px;
        height: 100%;
        max-height: 44px;
        aspect-ratio: 1/1;

        background: url("../image/image24.png") rgb(255, 255, 255) 50% / cover
          no-repeat;
      }

      .logoText {
        color: #7797b4;
        text-align: center;
        font-family: esamanru;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 14px */
      }
    }

    .contentTextWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      .address {
        color: #7797b4;
        leading-trim: both;
        text-edge: cap;
        font-feature-settings: "liga" off, "clig" off;
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
      }

      .contentNumberWrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        .text {
          color: #7797b4;
          leading-trim: both;
          text-edge: cap;
          font-feature-settings: "liga" off, "clig" off;
          font-family: Pretendard;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    .menuWrapper {
      padding: 12px 0;
      gap: 40px;

      .menu {
        font-size: 12px;

        .menuText {
          font-size: 12px;
        }
      }

      .menu2 {
        font-size: 12px;
      }
    }

    .contentWrapper {
      gap: 16px;
      padding: 24px 16px 32px;

      .logoWrapper {
        gap: 2px;

        .logoImage {
          width: 33px;
          height: 33px;
        }

        .logoText {
          font-size: 14px;
          line-height: 100%;
        }
      }

      .contentTextWrapper {
        gap: 8px;

        .address {
          font-size: 10px;
        }

        .contentNumberWrapper {
          gap: 4px;
          .text {
            font-size: 10px;
          }
        }
      }
    }
  }
}
