.locationRightContentWrapper {
  display: flex;
  width: 100%;
  gap: 16px;
  align-items: stretch;
  flex-direction: row;
  background-color: #fff;
  flex: 1 1;
  box-sizing: border-box;
  border-radius: 12px;

  .rightImage {
    min-width: 36%;
    flex: 0 1;

    .rightImageDetail {
      aspect-ratio: 16/10;
      height: 100%;
      max-width: 100%;
      border-radius: 12px;
      flex: 1 1;
      object-fit: cover;
      background: url("../image/16054745c9456b1175aa0ccd6c14397e576c6b66.jpg");
      background-size: contain;
    }
  }

  .rightContentWrapper {
    display: flex;
    padding: 12px 0;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    flex: 1 1;

    .title1 {
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      display: flex;
      width: 100%;

      .title1Detail {
        color: #1f84ee;
        font-family: Pretendard;
        font-size: 20px;
        font-weight: 800;
      }
    }

    .title2 {
      color: #999;
      font-family: Pretendard;
      font-size: 16px;
      font-weight: 500;
      line-height: 134%;

      margin-bottom: auto;
      text-align: start;
    }

    .detailContentWrapper {
      display: flex;
      padding-top: 16px;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      border-top: 1px solid #dcdcdc;
      box-sizing: border-box;
      align-items: flex-start;

      .detailContentTitle {
        color: #222;
        font-family: Pretendard;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
      }
    }
  }
}

@media (max-width: 600px) {
  .locationRightContentWrapper {
    gap: 10px;
    flex-direction: column;

    .rightImage {
      width: 100%;
      border-radius: 16px;
    }

    .rightContentWrapper {
      padding: 0;
      gap: 10px;

      .title1 {
        gap: 12px;

        .title1Detail {
          font-size: 14px;
          font-weight: 700;
        }
      }

      .title2 {
        font-size: 12px;
      }

      .detailContentWrapper {
        padding-top: 12px;
        gap: 10px;

        .detailContentTitle {
          font-size: 14px;
          line-height: 100%;
        }
      }
    }
  }
}
