.sliderContainer {
  overflow: hidden;
  left: -10svw;
  position: relative;
  width: 120svw;
  height: 391px;

  img {
    width: 100%;
    height: 391px;
    object-fit: fill;
    border-radius: 10px;
  }
}

@media (max-width: 600px) {
  .sliderContainer {
    height: 191px;
    left: -9svw;

    img {
      height: 191px;
    }

    .slick-track {
      gap: 0;
    }
  }
}
