.navWrapper {
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 8px 0 #0000001a;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  padding: 18px 12svw;
  position: fixed;

  z-index: 100;
  width: 100svw;

  .logo {
    .logoImage {
      display: flex;
      width: 224px;
      height: 24px;
      flex-shrink: 0;

      aspect-ratio: 296 / 52;
      cursor: pointer;
      filter: none;

      background: url("../image/logo.png") rgb(255, 255, 255) 50% / 100% auto
        no-repeat;
    }
  }

  .menuWrapper {
    display: flex;
    align-items: center;
    gap: 78px;

    .menu1 {
      color: #358aea;
      font-weight: 800;
      cursor: pointer;
      font-family: Pretendard;
      font-size: 18px;
      text-align: center;
      transition: color 0.35s ease-in-out;
    }

    .menu {
      color: #556f87;
      text-align: center;
      font-family: Pretendard;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      transition: color 0.35s ease-in-out;
    }
  }

  .buttonWrapper {
    align-items: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 800;
    gap: var(--2, 8px);
    justify-content: center;
    line-height: 150%;
    padding: var(--25, 10px) var(--5, 20px);
    transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;

    height: fit-content;
    background: linear-gradient(90deg, #6189ff 0%, #61a5ff 100%);
    color: var(--white, var(--white, #fff));
  }
}

@media (max-width: 600px) {
  .navWrapper {
    gap: 18px;
    padding: 16px;
    flex-direction: column;

    .logo {
      .logoImage {
        width: 164px;
        height: 24px;
      }
    }

    .menuWrapper {
      gap: 32px;
      justify-content: center;
      width: 100%;

      .menu1 {
        font-size: 12px;
        white-space: nowrap;
      }

      .menu {
        font-size: 12px;
        white-space: nowrap;
      }
    }

    .buttonWrapper {
      max-width: 72px;
      max-height: 18px;
      padding: 6px 16px;
      gap: 4px;
      border-radius: 6px;

      display: none;

      font-size: 12px;
      line-height: 150%;
    }
  }
}
