.wrapper {
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: 16px;
  padding: 20px 22px;
  width: 100%;

  .imageWrapper {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    width: 100%;

    .leftImage {
      aspect-ratio: 16 / 11;
      border-radius: 12px;
      flex: 1 1;
      max-width: calc(50% - 7px);
      object-fit: cover;

      background: url("../image/16054745c9456b1175aa0ccd6c14397e576c6b66.jpg")
        lightgray 50% / cover no-repeat;
    }

    .rightImage {
      aspect-ratio: 16 / 11;
      border-radius: 12px;
      flex: 1 1;
      max-width: calc(50% - 7px);
      object-fit: cover;

      background: url("../image/16054745c9456b1175aa0ccd6c14397e576c6b66.jpg")
        lightgray 50% / cover no-repeat;
    }
  }

  .titleWrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .title {
      color: #1f84ee;
      font-family: Pretendard;
      font-size: 20px;
      font-weight: 800;
    }

    .canReserve {
      display: inline-block;
      padding: 4px 12px;
      align-items: flex-start;

      border-radius: 4px;
      background: #f9fcff;

      color: #0085ff;
      font-family: Pretendard;
      font-size: 12px;
      font-weight: 700;
      line-height: 150%;
      white-space: nowrap;
      text-align: center;
    }
  }
  .contentWrapper {
    display: flex;
    padding-top: 16px;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #dcdcdc;
  }

  .reserveWrapper {
    display: flex;
    padding: 20px 18px;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    border-radius: 12px;
    background: #f9fcff;
    width: 100%;

    .reserveLeftWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6px;

      .reserveText1 {
        color: #1f84ee;
        font-family: Pretendard;
        font-size: 18px;
        font-weight: 800;
      }
      .reserveText2 {
        color: #999;
        font-family: Pretendard;
        font-size: 14px;
        text-align: start;
      }
    }
    .reserveRightWrapper {
      display: flex;
      align-items: stretch;
      gap: 12px;

      .reserveButton1 {
        min-width: 142px;
        height: auto;
        background-color: #fff;
        border: 1px solid #1f84ee;
        color: #1f84ee;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 800;
        gap: var(--2, 8px);
        justify-content: center;
        line-height: 150%; /* 21px */
        padding: var(--25, 10px) var(--5, 20px);
        transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
      }
      .reserveButton2 {
        min-width: 142px;
        height: auto;
        background: linear-gradient(90deg, #6189ff, #61a5ff);
        color: var(--white, var(--white, #fff));
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 800;
        gap: var(--2, 8px);
        justify-content: center;
        line-height: 150%; /* 21px */
        padding: var(--25, 10px) var(--5, 20px);
        border: none;
        transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
        box-sizing: border-box;
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    padding: 12px;
    gap: 10px;
    border-radius: 8px;

    .imageWrapper {
      gap: 10px;

      .leftImage {
        border-radius: 8px;
        max-width: calc(50% - 5px);
      }

      .rightImage {
        border-radius: 8px;
        max-width: calc(50% - 5px);
      }
    }

    .titleWrapper {
      gap: 12px;
      .title {
        font-size: 14px;
        font-weight: 700;
      }

      .canReserve {
        padding: 3px 8px;
        font-size: 10px;
        height: fit-content;
      }
    }

    .contentWrapper {
      padding-top: 12px;
    }

    .reserveWrapper {
      padding: 10px 12px;
      gap: 4px;

      .reserveLeftWrapper {
        .reserveText1 {
          font-size: 12px;
          font-weight: 800;
          text-align: start;
          white-space: nowrap;
        }
        .reserveText2 {
          font-size: 10px;
          font-weight: 300;
        }
      }

      .reserveRightWrapper {
        gap: 10px;

        .reserveButton1 {
          white-space: nowrap;
          padding: 0 12px;
          border-radius: 4px;
          min-width: auto;
          font-size: 10px;
          align-self: stretch;
        }

        .reserveButton2 {
          white-space: nowrap;
          padding: 0 12px;
          border-radius: 4px;
          min-width: auto;
          font-size: 10px;
          align-self: stretch;
        }
      }
    }
  }
}
