.wrapper {
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: 16px;
  padding: 20px 22px;
  width: 100%;

  .imageWrapper {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    width: 100%;

    .leftImage {
      aspect-ratio: 16 / 11;
      border-radius: 12px;
      flex: 1 1;
      max-width: calc(50% - 7px);
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .rightImage {
      aspect-ratio: 16 / 11;
      border-radius: 12px;
      flex: 1 1;
      max-width: calc(50% - 7px);
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  .titleWrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .title {
      color: #1f84ee;
      font-family: Pretendard;
      font-size: 20px;
      font-weight: 800;
    }

    .canReserve {
      display: inline-block;
      padding: 4px 12px;
      align-items: flex-start;

      border-radius: 4px;
      background: #f9fcff;

      color: #0085ff;
      font-family: Pretendard;
      font-size: 12px;
      font-weight: 700;
      line-height: 150%;
      white-space: nowrap;
      text-align: center;
    }
  }

  .reserveWrapper {
    display: flex;
    padding: 20px 18px;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    border-radius: 12px;
    background: #f9fcff;
    width: 100%;

    .reserveLeftWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6px;

      .reserveText1 {
        color: #1f84ee;
        font-family: Pretendard;
        font-size: 18px;
        font-weight: 800;
      }
      .reserveText2 {
        color: #999;
        font-family: Pretendard;
        font-size: 14px;
        text-align: start;
      }
    }
    .reserveRightWrapper {
      display: flex;
      align-items: stretch;
      gap: 12px;

      .reserveButton1 {
        min-width: 142px;
        height: auto;
        background-color: #fff;
        border: 1px solid #1f84ee;
        color: #1f84ee;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 800;
        gap: var(--2, 8px);
        justify-content: center;
        line-height: 150%; /* 21px */
        padding: var(--25, 10px) var(--5, 20px);
        transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
      }
      .reserveButton2 {
        min-width: 142px;
        height: auto;
        background: linear-gradient(90deg, #6189ff, #61a5ff);
        color: var(--white, var(--white, #fff));
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 800;
        gap: var(--2, 8px);
        justify-content: center;
        line-height: 150%; /* 21px */
        padding: var(--25, 10px) var(--5, 20px);
        border: none;
        transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
        box-sizing: border-box;
      }
    }
  }

  .popupBackWrapper {
    align-items: center;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background: #00000052;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    max-height: 100svh;
    max-width: 100svw;
    min-height: 100svh;
    min-width: 100svw;
    position: fixed;
    top: 0;
    z-index: 1000;

    .popupWrapper {
      align-items: center;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 8px 16px 0 #00000026;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .popupTitleWrapper {
        align-items: center;
        border-bottom: 1px solid #eee;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 14px 18px;
        width: 100%;

        .popupTitleText {
          color: #222;
          font-family: Pretendard;
          font-size: 18px;
          font-weight: 700;
        }
        .popupXButton {
          background-size: cover;
          cursor: pointer;
          height: 24px;
          width: 24px;
        }
      }
      .popupContentWrapper {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 14px 18px;
        width: 100%;
        min-width: 32svw;
        max-width: 600px;

        .popupCloseButton {
          font-size: 16px;
          height: 46px;
          padding: var(--25, 12px) var(--5, 24px);
          background-color: #fff;
          border: 1px solid #1f84ee;
          color: #1f84ee;
          align-items: center;
          border-radius: 6px;
          cursor: pointer;
          display: flex;
          font-family: Pretendard;
          font-weight: 800;
          gap: var(--2, 8px);
          justify-content: center;
          line-height: 150%;
          transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    padding: 12px;
    gap: 10px;
    border-radius: 8px;

    .imageWrapper {
      gap: 10px;

      .leftImage {
        border-radius: 8px;
        max-width: calc(50% - 5px);
      }

      .rightImage {
        border-radius: 8px;
        max-width: calc(50% - 5px);
      }
    }

    .titleWrapper {
      gap: 12px;

      .title {
        font-size: 14px;
        font-weight: 700;
      }

      .canReserve {
        padding: 3px 8px;
        font-size: 10px;
        height: fit-content;
      }
    }

    .reserveWrapper {
      padding: 12px 14px;
      gap: 12px;
      border-radius: 8px;

      .reserveLeftWrapper {
        gap: 4px;

        .reserveText1 {
          font-size: 12px;
          text-align: start;
          white-space: nowrap;
        }
        .reserveText2 {
          font-size: 10px;
        }
      }

      .reserveRightWrapper {
        gap: 8px;
        align-self: stretch;

        .reserveButton1 {
          white-space: nowrap;
          padding: 0 12px;
          border-radius: 4px;
          min-width: auto;
          font-size: 10px;
          align-self: stretch;
        }

        .reserveButton2 {
          white-space: nowrap;
          padding: 0 12px;
          border-radius: 4px;
          min-width: auto;
          font-size: 10px;
          align-self: stretch;
        }
      }
    }
  }
}
