.adTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-family: Pretendard;
  width: 100%;
  line-height: 150%;
  text-align: center;

  .adMainText1 {
    color: #1f84ee;
    font-size: 18px;
    font-weight: 700;
  }

  .adMainText2 {
    color: #222;
    font-size: 28px;
    font-weight: 700;
    line-height: 120%; /* 38.4px */

    .adMainText20 {
      color: #1f84ee;
    }
    .adMainText21 {
      color: #1f84ee;
    }
  }

  .adMainText3 {
    color: #646464;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

    white-space: pre-line;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .adTitleWrapper {
    gap: 8px;
    .adMainText1 {
      font-size: 14px;
      line-height: normal;
    }
    .adMainText2 {
      font-size: 18px;
      line-height: normal;
    }
    .adMainText3 {
      font-size: 12px;
      line-height: 140%;
    }
  }
}
