.wrapper {
  padding-top: 98px;

  .contentWrapper {
    display: flex;
    width: 100%;
    gap: 42px;
    padding: 124px 12svw;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .titleWrapper {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      font-family: Pretendard;
      line-height: 150%;
      text-align: center;

      .title1 {
        color: #1f84ee;
        font-size: 18px;
        font-weight: 700;
      }

      .title2 {
        color: #222;
        font-size: 28px;
        font-weight: 700;
        line-height: 120%; /* 38.4px */
      }

      .title3 {
        color: #4d4d4f;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        width: 100%;
      }
    }

    .reserveListComponentWrapper {
      display: flex;
      width: 100%;
      align-items: stretch;
      gap: 24px;
      box-sizing: border-box;
      justify-content: space-between;

      .reserveListDetailWrapper {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        border: none;
        padding: 0;
        background-color: #fff;
        border-radius: 12px;
        box-sizing: border-box;
        display: flex;
        flex: 1 1;
        gap: 16px;

        .imageWrapper {
          display: flex;
          align-items: flex-start;
          gap: 14px;
          flex: 0 1;
          min-width: 36%;
          width: 100%;

          .imageDetailWrapper {
            align-items: stretch;
            box-sizing: border-box;
            display: flex;
            gap: 24px;
            justify-content: space-between;
            width: 100%;

            .leftImage {
              height: 100%;
              flex: 1 1;
              aspect-ratio: 16/10;
              object-fit: cover;
              border-radius: 12px;
              max-width: calc(50% - 7px);
              background: url("../image/16054745c9456b1175aa0ccd6c14397e576c6b66.jpg")
                lightgray 50% / cover no-repeat;
            }

            .rightImage {
              height: 100%;
              flex: 1 1;
              aspect-ratio: 16/10;
              object-fit: cover;
              border-radius: 12px;
              max-width: calc(50% - 7px);
              background: url("../image/16054745c9456b1175aa0ccd6c14397e576c6b66.jpg")
                lightgray 50% / cover no-repeat;
            }
          }
        }
        .textWrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;
          flex: 1 1;
          padding: 12px 0;

          .titleDetailWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            width: 100%;

            .title {
              color: #1f84ee;
              font-family: Pretendard;
              font-size: 20px;
              font-weight: 800;
            }

            .canReserve {
              display: inline-block;
              padding: 4px 12px;
              border-radius: 4px;
              background: #f9fcff;
              color: #0085ff;
              font-family: Pretendard;
              font-size: 12px;
              font-weight: 700;
              line-height: 150%;
              text-align: center;
              white-space: nowrap;
            }
          }

          ul {
            color: #999;
            font-family: Pretendard;
            font-size: 16px;
            font-weight: 500;
            line-height: 134%;
            margin-bottom: auto;
            text-align: start;
          }

          .underContentWrapper {
            display: flex;
            padding-top: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            box-sizing: border-box;
            border-top: 1px solid #dcdcdc;
            width: 100%;

            .contentDetail {
              color: #222;
              font-family: Pretendard;
              font-size: 18px;
              font-weight: 700;
              line-height: 150%;
            }

            .contentTextDetailWrapper {
              display: flex;
              align-items: center;

              .text1 {
                width: 114px;
                color: #505050;
                font-family: Pretendard;
                font-size: 16px;
                font-weight: 600;
                text-align: start;
              }
              .text2 {
                color: #505050;
                font-family: Pretendard;
                font-size: 16px;
                font-weight: 400;
                flex: 1 1;
              }
            }
          }
          .priceWrapper {
            display: flex;
            padding-top: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            width: 100%;
            box-sizing: border-box;
            border-top: 1px solid #dcdcdc;

            .priceTitle {
              color: #222;
              font-family: Pretendard;
              font-size: 18px;
              font-weight: 700;
              line-height: 150%;
            }

            .priceDetailWrapper {
              display: flex;
              align-items: stretch;
              gap: 24px;
              box-sizing: border-box;
              justify-content: space-between;
              width: 100%;

              .realPriceWrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: flex-start;

                .realPriceTitle {
                  color: #000;
                  font-family: Pretendard;
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 120%;
                  width: 114px;
                  text-align: start;
                }
                .priceNumber1 {
                  color: #424242;
                  font-family: Pretendard;
                  font-size: 20px;
                  font-weight: 800;
                  line-height: 150%;
                  letter-spacing: 0.4px;
                }

                .priceNumber {
                  color: #1f84ee;
                  font-family: Pretendard;
                  font-size: 20px;
                  font-weight: 800;
                  line-height: 150%;
                  letter-spacing: 0.4px;
                }

                .priceNumber2 {
                  color: #dcdcdc;
                  font-family: Pretendard;
                  font-size: 20px;
                  font-weight: 800;
                  line-height: 150%;
                  letter-spacing: 0.4px;
                }

                .priceEtc {
                  color: #505050;
                  font-family: Pretendard;
                  font-size: 14px;
                  font-weight: 500;
                  flex: 1 1;
                }
              }
            }
          }
        }
        .buttonWrapper {
          display: flex;
          width: 100%;
          justify-content: space-between;
          gap: 24px;
          box-sizing: border-box;
          align-items: stretch;

          .leftButton {
            flex: 1 1;
            font-size: 18px;
            height: fit-content;
            display: flex;
            padding: 16px;
            background-color: #fff;
            border: 1px solid #1f84ee;
            color: #1f84ee;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            gap: var(--2, 8px);
            border-radius: 6px;
            font-family: Pretendard;
            font-weight: 800;
            line-height: 150%; /* 27px */
            transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
            box-sizing: border-box;
          }

          .rightButton {
            flex: 1 1;
            font-size: 18px;
            height: fit-content;
            display: flex;
            padding: 16px;
            background: linear-gradient(90deg, #6189ff, #61a5ff);
            border: none;
            color: #fff;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            gap: var(--2, 8px);
            border-radius: 6px;
            font-family: Pretendard;
            font-weight: 800;
            line-height: 150%; /* 27px */
            transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    .contentWrapper {
      gap: 28px;
      padding: 42px 16px;

      .titleWrapper {
        gap: 8px;

        .title1 {
          font-size: 14px;
          line-height: normal;
        }

        .title2 {
          font-size: 18px;
          line-height: normal;
        }

        .title3 {
          font-size: 12px;
          line-height: 140%;
        }
      }

      .reserveListComponentWrapper {
        align-items: center;
        box-sizing: border-box;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        .reserveListDetailWrapper {
          flex-direction: column;
          gap: 10px;

          .imageWrapper {
            gap: 10px;

            .imageDetailWrapper {
              flex-direction: row;
              gap: 8px;
              align-items: center;

              .leftImage {
                border-radius: 6px;
                max-width: calc(50% - 4px);
              }
              .rightImage {
                border-radius: 6px;
                max-width: calc(50% - 4px);
              }
            }
          }
          .textWrapper {
            gap: 10px;
            padding: 0;

            .titleDetailWrapper {
              gap: 12px;

              .title {
                font-size: 14px;
                font-weight: 700;
              }
              .canReserve {
                font-size: 10px;
                height: fit-content;
                padding: 3px 8px;
              }
            }
            ul {
              font-size: 12px;
            }

            .underContentWrapper {
              gap: 10px;
              padding-top: 12px;

              .contentDetail {
                font-size: 14px;
                line-height: 100%;
              }

              .contentTextDetailWrapper {
                .text1 {
                  font-size: 12px;
                  width: 100px;
                }
                .text2 {
                  font-size: 12px;
                }
              }
            }

            .priceWrapper {
              gap: 10px;
              padding-top: 12px;

              .priceTitle {
                font-size: 14px;
                line-height: 100%;
              }
              .priceDetailWrapper {
                flex-direction: row;
                align-items: center;
                box-sizing: border-box;
                gap: 16px;
                width: 100%;

                .realPriceWrapper {
                  flex: 1 1;
                  min-width: auto;

                  .realPriceTitle {
                    font-size: 10px;
                    width: auto;
                  }

                  .priceNumber1 {
                    font-size: 12px;
                    line-height: 150%;
                    white-space: nowrap;
                  }
                  .priceNumber {
                    font-size: 12px;
                    line-height: 150%;
                    white-space: nowrap;
                  }
                  .priceNumber2 {
                    font-size: 12px;
                    line-height: 150%;
                    white-space: nowrap;
                  }
                  .priceEtc {
                    font-size: 8px;
                  }
                }
              }
            }
          }
          .buttonWrapper {
            flex-direction: row;
            padding-top: 12px;
            gap: 16px;

            .leftButton {
              height: 48px;

              font-size: 14px;
            }
            .rightButton {
              height: 48px;

              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
