.wrapper {
  padding-top: 98px;

  .contentWrapper {
    display: flex;
    padding: 124px 12svw;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    box-sizing: border-box;
    width: 100%;

    .titleWrapper {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      line-height: 150%;
      gap: 12px;
      font-family: Pretendard;
      text-align: center;

      .titleName1 {
        color: #1f84ee;
        font-size: 18px;
        font-weight: 700;
      }

      .titleName2 {
        color: #222;
        font-size: 28px;
        font-weight: 700;
        line-height: 120%; /* 38.4px */
      }
    }

    .reserveCampWrapper {
      display: flex;
      box-sizing: border-box;
      width: 100%;
      justify-content: space-between;
      align-items: stretch;
      gap: 24px;
    }

    .cantReserveWrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: stretch;
      gap: 24px;
      box-sizing: border-box;
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    .contentWrapper {
      padding: 42px 16px;
      gap: 28px;

      .titleWrapper {
        gap: 8px;
        .titleName1 {
          font-size: 14px;
          line-height: normal;
        }
        .titleName2 {
          font-size: 18px;
          line-height: normal;
        }
        .titleName3 {
          font-size: 12px;
          line-height: 140%;
        }
      }

      .reserveCampWrapper {
        align-items: center;
        box-sizing: border-box;
        flex-direction: column;
        gap: 16px;
        width: 100%;
      }

      .cantReserveWrapper {
        align-items: center;
        box-sizing: border-box;
        flex-direction: column;
        gap: 16px;
        width: 100%;
      }
    }
  }
}
