.wrapper {
  padding-top: 98px;

  .contentWrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 124px 12svw;
    width: 100%;

    .titleWrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-family: Pretendard;
      gap: 12px;
      line-height: 150%;
      text-align: center;
      width: 100%;

      .title1 {
        color: #1f84ee;
        font-size: 18px;
        font-weight: 700;
      }

      .title2 {
        color: #222;
        font-size: 28px;
        font-weight: 700;
        line-height: 120%;
      }

      .title3 {
        color: #4d4d4f;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        width: 100%;
      }
    }

    .upBoxWrapper {
      align-items: flex-start;
      background: #fff;
      border: 1px solid #e8e8e8;
      border-radius: 8px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: 100%;

      .upTitle {
        background: #f9fcff;
        border-bottom: 1px solid #e8e8e8;
        box-sizing: border-box;
        color: #0085ff;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        padding: 18px;
        width: 100%;
        text-align: start;
      }

      .upContentWrapper {
        box-sizing: border-box;
        color: #424242;
        font-family: Pretendard;
        font-size: 16px;
        font-weight: 400;
        line-height: 170%;
        padding: 18px;
        width: 100%;

        ul {
          display: block;
          width: 100%;
          max-width: 1164px;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;

          box-sizing: border-box;

          .upContent {
            width: 100%;
            max-width: 650px;

            color: #32353b;
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%; /* 24px */

            text-align: start;

            list-style-type: none;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    .contentWrapper {
      padding: 42px 16px;
      gap: 28px;

      .titleWrapper {
        gap: 8px;

        .title1 {
          font-size: 14px;
          line-height: normal;
        }

        .title2 {
          font-size: 18px;
          line-height: normal;
        }
        .title3 {
          font-size: 12px;
          line-height: 140%;
        }
      }
      .upBoxWrapper {
        .upTitle {
          font-size: 14px;
          padding: 12px;
        }

        .upContentWrapper {
          padding: 12px;
          line-height: 160%;
          font-size: 12px;

          ul {
            gap: 4px;

            .upContent {
              font-size: 12px;
              line-height: 160%;
            }
          }
        }
      }
    }
  }
}
