.wrapper {
  display: flex;
  width: 100%;
  max-width: 1920px;
  //height: auto;
  //max-height: 4254px;
  flex-direction: column;
  //justify-content: center;
  align-items: flex-start;
  gap: 12px;
  padding-top: 12px;

  background: #fff;
  box-sizing: border-box;

  .contentWrapper {
    display: flex;
    width: 100%;
    max-width: 1920px;
    padding-top: 98px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    overflow-x: hidden;

    .adWrapper {
      display: flex;
      padding: 124px 12svw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 42px;
      align-self: stretch;
      box-sizing: border-box;

      width: 100%;

      .adPictureWrapper {
        display: flex;
        gap: 24px;
        align-self: stretch;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
      }
    }

    .reserveWrapper {
      display: flex;
      padding: 124px 12svw;
      flex-direction: column;
      align-items: center;
      gap: 42px;
      width: 100%;
      background: #f9fcff;
      box-sizing: border-box;

      .reserveContentWrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 24px;
        align-self: stretch;
        box-sizing: border-box;
      }

      .reserveButton {
        font-size: 16px;
        height: 46px;
        padding: var(--25, 12px) var(--5, 24px);
        background: linear-gradient(90deg, #6189ff, #61a5ff);
        color: var(--white, var(--white, #fff));
        align-items: center;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        font-family: Pretendard;
        font-weight: 800;
        gap: var(--2, 8px);
        justify-content: center;
        line-height: 150%;
        transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
      }
    }

    .locationWrapper {
      display: flex;
      padding: 124px 12svw;
      width: 100%;
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      gap: 42px;

      .locationContentWrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
        gap: 24px;

        .locationLeftWrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 34px;
          flex: 1 1;

          box-sizing: border-box;

          .leftTitleWrapper {
            display: flex;
            align-items: stretch;
            gap: 24px;
            box-sizing: border-box;
            justify-content: space-between;
            width: 100%;

            .leftTitle {
              display: flex;
              height: fit-content;
              padding: 12px;
              justify-content: center;
              align-items: center;
              gap: var(--2, 8px);
              flex: 1 1;
              box-shadow: 0 4px 4px 0 #00000014;
              background: #fff;
              cursor: pointer;
              color: #96c9ff;
              font-family: Pretendard;
              font-size: 16px;
              font-weight: 800;
              line-height: 150%;
              border-radius: 6px;
              transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;

              &.active {
                color: #fff;

                background: linear-gradient(90deg, #6189ff 0%, #61a5ff 100%);
              }
            }
          }

          .leftImageWrapper {
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: 100% auto;
            display: flex;
            width: 100%;
            min-height: 60svh;
            filter: none;
          }
        }

        .locationRightWrapper {
          display: flex;
          flex-direction: column;
          gap: 12px;
          flex: 1.6 1;

          .locationBar {
            border: 1px solid #e8e8e8;
            height: 0;
            margin: 4px 0;
            padding: 0;
            width: 100%;
          }

          .moreButton {
            font-size: 16px;
            height: fit-content;
            margin-top: 12px;
            padding: 14px;
            background-color: #fff;
            border: 1px solid #1f84ee;
            color: #1f84ee;
            align-items: center;
            border-radius: 6px;
            cursor: pointer;
            display: flex;
            font-family: Pretendard;
            font-weight: 800;
            gap: 8px;
            justify-content: center;
            line-height: 150%;
            transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
          }
        }
      }
    }
  }

  .popupWrapper {
    align-items: center;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background: #00000052;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    max-height: 100svh;
    max-width: 100svw;
    min-height: 100svh;
    min-width: 100svw;
    position: fixed;
    top: 0;
    z-index: 1000;

    .popupDetailWrapper {
      align-items: center;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 8px 16px 0 #00000026;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .popupTitleWrapper {
        align-items: center;
        border-bottom: 1px solid #eee;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 14px 18px;
        width: 100%;

        .popupTitle {
          color: #222;
          font-family: Pretendard;
          font-size: 18px;
          font-weight: 700;
        }
        .popupTitleButton {
          filter: none;
          background-size: cover;
          cursor: pointer;
          height: 24px;
          width: 24px;
        }
      }
      .popupContentWrapper {
        width: 100%;
        min-width: 42svw;
        max-height: 80svh;
        overflow-y: scroll;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 14px 18px;

        .inputWrapper {
          align-items: stretch;
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          width: 100%;

          .label {
            align-items: center;
            color: #333;
            display: flex;
            font-family: Pretendard;
            font-size: 16px;
            width: 100%;
          }

          .labelWrapper {
            height: fit-content;
            width: 100%;

            .labelDetailWrapper {
              align-items: flex-start;
              align-self: stretch;
              display: flex;
              gap: 6px;

              .labelText {
                background: #fbfbfb;
                border: 1px solid #edf6f6;
                color: #666;
                line-height: 160%;
                min-height: 420px !important;
                padding: 12px;
                resize: none;
                border-radius: 4px;
                box-sizing: border-box;
                font-family: Pretendard;
                font-size: 16px;
                height: 46px;
                width: 100%;
                min-width: fit-content !important;
              }
            }
          }
        }
        .inputBar {
          border: 1px solid #e8e8e8;
          height: 0;
          margin: 16px 0px;
          padding: 0;
          width: 100%;
        }

        .popupClose {
          font-size: 16px;
          height: 46px;
          padding: var(--25, 12px) var(--5, 24px);
          background-color: #fff;
          border: 1px solid #1f84ee;
          color: #1f84ee;
          align-items: center;
          border-radius: 6px;
          cursor: pointer;
          display: flex;
          font-family: Pretendard;
          font-weight: 800;
          gap: var(--2, 8px);
          justify-content: center;
          line-height: 150%;
          transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    gap: 8px;
    padding-top: 8px;

    .contentWrapper {
      padding-top: 98px;

      .adWrapper {
        padding: 42px 16px;
        gap: 20px;

        .adPictureWrapper {
          gap: 16px;
          flex-direction: column;
          width: 100%;
          align-items: center;
        }

        .adButtonWrapper {
          max-height: 24px;
          padding: 6px 14px;
          gap: 6px;
          border-radius: 10px;

          .adButtonText {
            font-size: 14px;
            line-height: 150%;
          }
        }
      }

      .reserveWrapper {
        padding: 42px 16px;
        gap: 20px;

        .reserveContentWrapper {
          gap: 16px;
          flex-direction: column;
          align-items: center;
        }

        .reserveButton {
          padding: 10px 20px;
          font-size: 12px;
          height: 38px;
        }
      }

      .locationWrapper {
        padding: 42px 16px;
        gap: 28px;

        .locationContentWrapper {
          gap: 16px;
          flex-direction: column;

          .locationLeftWrapper {
            width: 100%;

            .leftTitleWrapper {
              gap: 16px;
              flex-direction: row;

              .leftTitle {
                height: fit-content;
                padding: 8px 16px;
                font-size: 12px;
              }
            }

            .leftImageWrapper {
              gap: 20px;
              background-size: 100% auto;
            }
          }

          .locationRightWrapper {
            width: 100%;

            .locationBar {
            }
            .moreButton {
              font-size: 12px;
              padding: 12px 16px;
            }
          }
        }
      }
    }

    .popupWrapper {
      min-height: 100%;

      .popupDetailWrapper {
        border-radius: 6px;
        height: fit-content;
        width: calc(100% - 32px);

        .popupTitleWrapper {
          padding: 14px 16px;

          .popupTitle {
            font-size: 16px;
          }
          .popupTitleButton {
            height: 20px;
            width: 20px;
          }
        }
        .popupContentWrapper {
          gap: 12px;
          overflow: scroll;
          padding: 12px 16px;

          .inputWrapper {
            gap: 8px;

            .label {
              font-size: 14px !important;
            }

            .labelWrapper {
              .labelDetailWrapper {
                .labelText {
                  font-size: 12px !important;
                  height: 34px !important;
                }
              }
            }
          }
          .popupClose {
            font-size: 12px;
            height: 38px;
            padding: var(--25, 10px) var(--5, 20px);
          }
        }
      }
    }
  }
}
