.wrapper {
  display: flex;
  width: 1920px;
  height: 4254px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  padding-top: 12px;

  background: #fff;

  .contentWrapper {
    display: flex;
    width: 1920px;
    height: 4166px;
    padding-top: 32px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;

    .slideWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      align-self: stretch;

      overflow: hidden;

      .leftSlideWrapper {
        width: 996.5px;
        height: 530px;

        flex-shrink: 0;

        display: flex;
        width: 996px;
        height: 530px;
        padding: 32px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 12px;
        flex-shrink: 0;

        border-radius: 16px;
        opacity: 0.42;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.45) 0%,
            rgba(0, 0, 0, 0.45) 100%
          ),
          url(../image/fe808d5c105269780d30ed71b3c2c0cfa187183d.jpg) lightgray
            50% / cover no-repeat;

        .arrow {
          width: 111px;
          height: 111px;
          flex-shrink: 0;

          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

          background-image: url(../image/Expand_left.svg);
        }
      }

      .middleSlideWrapper {
        display: flex;
        width: 996px;
        height: 530px;
        padding: 32px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 12px;

        border-radius: 16px;
        background: url(../image/ff59a2996884e7b3898ec09b9e838e0d586c58eb.jpg)
          lightgray -232.52px -0.581px / 146.209% 100.219% no-repeat;

        flex-shrink: 0;
      }

      .rightSlideWrapper {
        width: 996.5px;
        height: 530px;

        flex-shrink: 0;

        display: flex;
        width: 996px;
        height: 530px;
        padding: 32px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;
        flex-shrink: 0;

        border-radius: 16px;
        opacity: 0.42;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.45) 0%,
            rgba(0, 0, 0, 0.45) 100%
          ),
          url(../image/31f5daa70d1a2025fd93a211f84cf4364049f129.jpg) lightgray
            50% / cover no-repeat;

        .arrow {
          width: 111px;
          height: 111px;
          flex-shrink: 0;

          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

          background-image: url(../image/Expand_right.svg);
        }
      }
    }

    .adWrapper {
      display: flex;
      padding: 142px 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      align-self: stretch;

      .adDetailWrapper {
        display: flex;
        width: 1400px;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        .adMainTextWrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          align-self: stretch;

          .adMainText1 {
            color: #1f84ee;
            font-family: Pretendard;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: 120%; /* 24px */
          }

          .adMainText2 {
            color: #222;
            text-align: center;
            font-family: Pretendard;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 38.4px */
          }

          .adMainText3 {
            color: #646464;
            text-align: center;
            font-family: Pretendard;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 21.6px */
          }

          .adMainText4 {
            color: #646464;
            text-align: center;
            font-family: Pretendard;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 21.6px */

            margin-top: -12px;
          }
        }
        .adPictureWrapper {
          display: flex;
          align-items: flex-start;
          gap: 18px;
          align-self: stretch;

          .adPictureDetailWrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;

            border-radius: 8px;
            border: 1px solid #e1eefd;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

            overflow: hidden;

            .adPicture {
              height: 252.375px;
              align-self: stretch;
              aspect-ratio: 4/3;

              background: url(../image/16054745c9456b1175aa0ccd6c14397e576c6b66.jpg)
                lightgray 50% / cover no-repeat;
            }
            .adTextWrapper {
              display: flex;
              padding: 16px 22px 20px 22px;
              flex-direction: column;
              align-items: flex-start;
              gap: 4px;
              align-self: stretch;

              border-top: 1px solid rgba(162, 205, 255, 0.55);
              background: #fff;
            }
            .adText1 {
              color: #0085ff;
              font-family: Pretendard;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 120%; /* 24px */
            }
            .adText2 {
              align-self: stretch;

              color: #424242;
              font-family: Pretendard;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 19.2px */

              text-align: left;
            }
          }
        }
        .adButtonWrapper {
          display: flex;
          height: 36px;
          padding: var(--25, 10px) var(--5, 20px);
          justify-content: center;
          align-items: center;
          gap: var(--2, 8px);

          border-radius: 10px;
          background: linear-gradient(90deg, #6189ff 0%, #61a5ff 100%);

          box-sizing: border-box;

          .adButtonText {
            color: var(--white, var(--white, #fff));
            font-family: Pretendard;
            font-size: 14px;
            font-style: normal;
            font-weight: 800;
            line-height: 150%; /* 21px */
          }
        }
      }
    }

    .reserveWrapper {
      display: flex;
      padding: 142px 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      align-self: stretch;

      background: #f7fcff;
    }

    .locationWrapper {
      display: flex;
      padding: 142px 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      align-self: stretch;

      background: #fff;
    }
  }
}
