.wrapper {
  padding-top: 98px;

  .contentWrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 124px 12svw;
    width: 100%;

    .titleWrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-family: Pretendard;
      gap: 12px;
      line-height: 150%;
      text-align: center;
      width: 100%;

      .title1 {
        color: #1f84ee;
        font-size: 18px;
        font-weight: 700;
      }

      .title2 {
        color: #222;
        font-size: 28px;
        font-weight: 700;
        line-height: 120%;
      }
      .title3 {
        color: #4d4d4f;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        width: 100%;
      }
    }

    .tableWrapper {
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      box-sizing: border-box;
      max-width: 100%;
      min-width: 100%;
      overflow: auto;

      .tableDetailWrapper {
        border-collapse: collapse;
        width: 100%;
        border-spacing: 0;
        display: table;

        thead {
          tr {
            background: #f9fcff;
            border-bottom: 1px solid #e8e8e8;

            th {
              color: #0085ff;
              font-family: Pretendard;
              font-weight: 700;
              padding: 12px;
              text-align: center;
              white-space: nowrap;
            }

            .theadTitle1 {
              width: 148px;
            }
            .theadTitle2 {
              width: 64px;
            }
            .theadTitle3 {
              text-align: left;
            }
            .theadTitle4 {
              width: 80px;
            }
          }
        }
        tbody {
          tr {
            border-top: 1px solid #e8e8e8;

            td {
              background-color: #fff;
              color: #505050;
              font-family: Pretendard;
              font-weight: 400;
              padding: 12px;
              text-align: center;
              white-space: nowrap;
            }
            .noticeTitle1 {
              width: 148px;
            }
            .noticeTitle2 {
              width: 64px;
            }
            .noticeTitle3 {
              text-align: left;
              cursor: pointer;
              color: #424242;
              font-weight: 600;
            }
            .noticeTitle4 {
              width: 80px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    .contentWrapper {
      padding: 42px 16px;
      gap: 28px;

      .titleWrapper {
        gap: 8px;

        .title1 {
          font-size: 14px;
          line-height: normal;
        }

        .title2 {
          font-size: 18px;
          line-height: normal;
        }

        .title3 {
          font-size: 12px;
          line-height: 140%;
        }
      }

      .tableWrapper {
        .tableDetailWrapper {
          font-size: 12px;

          thead {
            tr {
              th {
              }
            }
          }
          tbody {
            tr {
              td {
              }
              .noticeTitle {
              }
            }
          }
        }
      }
    }
  }
}
